@model MvcStok.Models.Entity.TBLMUSTERILER
@{
    ViewBag.Title = "MusteriGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("Guncelle", "Musteri", FormMethod.Post))
{
    <div class="form-group">
        <h5><strong>MÜŞTERİ ID</strong></h5>
        @Html.TextBoxFor(m => m.MUSTERIID, new { @class = "form-control" })
        <br />
        <h5><strong>MÜŞTERİ ADI</strong></h5>
        @Html.TextBoxFor(m => m.MUSTERIAD, new { @class = "form-control" })
        <br />
        <h5><strong>MÜŞTERİ SOYADI</strong></h5>
        @Html.TextBoxFor(m => m.MUSTERISOYAD, new { @class = "form-control" })
    </div>
    <div>
        <button class="btn btn-warning">Müşteri Güncelle</button>
    </div>
}

