
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal1">Hakkımda</button>

<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Hakkımda</h2>
            </div>
            <form>
                <div class="modal-body">
                    <h5>Merhaba,</h5>
                    <h5>Murat Yücedağ'ın YouTube kanalında bulunan '50 Derste MVC' video serisini tamamladım.</h5>
                    <h5>Koray Vatansever - Tarih: 30 Aralık 2024</h5>                    
                </div>
            </form>
        </div>
    </div>
</div>
